* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 13px Helvetica, Arial;
	background-color: #EEEEEE;
}

form {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 6%;
	max-height: 60px;
}

form input {
	width: 100%;
	height: 100%;
	font-size: 1.6em;
	padding-left: 1%;
	padding-right: 1%;
}

#main {
	position: absolute;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 92%;
}

#main > #messageDisplay {
	margin: 1.0%;
	margin-right: 0.5%;
	margin-bottom: 0%;
	padding: 0.5%;
	border: 2px solid black;
	background-color: #666666;
	overflow-y: auto;
	flex: 3 1 70%;
	display: flex;
	flex-direction: column-reverse;
	order: 1;
}

#main > #usersDisplay {
	margin: 1.0%;
	margin-left: 0.5%;
	margin-bottom: 0%;
	padding: 0.5%;
	border: 2px solid black;
	background-color: #666666;
	overflow-y: auto;
	flex: 1 6 30%;
	display: flex;
	flex-direction: column-reverse;
	order: 2;
}

/* Too narrow to support two columns */
@media all and (max-width: 640px) {
	#main, #page {
		flex-direction: column;
	}

	#main > #messageDisplay {
		order: 2;
		margin-top: 0.5%;
		margin-right: 1%;
	}

	#main > #usersDisplay {
		order: 1;
		margin-bottom: 0.5%;
		margin-left: 1%;
		min-height: 20%;
		max-height: 20%;
	}
}

#messages, #users{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li, #users li {
	font-family: Courier;
	font-size: 1.6em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	color: white;
	padding: 5px 10px;
}
